button {
  position: relative;
  margin-top: 5%;
  margin-bottom: 15%;
  width: 20vw;
  height: 40px;
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

h1, h2 {
  margin: 2% 0;
}

.background-image {
  display: grid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  place-items: center;
  overflow: scroll;
}

.info-media {
  display: flex;
  flex-direction: row-reverse;
  height: 80vh;
  width: 100vw;
  margin-top: -6em;
}


.background-image h1 {
  font-size: 40px;
  font-size: 4.5vw;
}

@media screen and (max-width: 743px) {

  .background-image {
    overflow-x: hidden;
  }
  .info-media {
    flex-direction: column;
    align-items: center;
  }

}
