button {
  position: relative;
  margin-bottom: 10%;
  width: 88%;
}

.background-image {
  display: grid;
  place-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.background-image h1 {
  margin: 0;
}

.genre {
  padding: 8px;
  border: 1px solid white;
  border-radius: 18px;
}

.genre-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}


.movie-info {
  color: white;
  padding: 14px;
  width: 33%;
  text-align: center;
  background: rgba(0,0,0, 0.78);
  border-radius: 8px;
}

/* .backdrop {
  width: 1280px;
  height: 720px;
} */
