button {
  position: relative;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 88%;
  height: 40px;
  background: none;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.background-image {
  display: grid;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;

}

.info-media {
  display: flex;
  height: 80vh; 
  width: 100vw;

}

.background-image h1 {
  margin: 0;
}

.genre {
  padding: 8px;
  font-size: 13px;
  border: 1px solid white;
  border-radius: 12px;
}

.genre-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}

.runtime-rating {
  display: flex;
  justify-content: space-between;
}


.movie-info {
  color: white;
  padding: 14px;
  width: 50%;
  text-align: center;
  background: rgba(0,0,0, 0.82);
  border-radius: 8px;
  height: 80%;
  margin-top: 6em;
  margin-left: 1em;
}

.single-poster {
  /* height: 402px;
  width: 268px; */
  height: 100%; 
  width: 100%;
  position: absolute;
  top: 0; 
  left: 0;
}

.image-container {
  padding-bottom: 66.66%;
  height: 0; 
  width: 80%;
  position: relative;
}

.poster-trailers {
  margin-left: 3em;
  margin-top: 6em;
  width: 35%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* .backdrop {
  width: 1280px;
  height: 720px;
} */
