header {
  position: fixed;
  width: 100vw;
  margin: 0;
  text-align: center;
  background: #383232;
  z-index: 10;
  border-bottom: 8px solid #b7fa6b;
}

header h1 {
  padding: 20px 0;
  margin: 0;
  color: white;
}

main {
  display: grid;
  place-items: center;
}

main h2 {
  text-align: center;
}

.loading {
  margin-top: 8em;
  text-align: center;
  color: black;
}

@media screen and (max-width: 747px) {
  header {
    width: 100%;
  }
}
