header {
  position: fixed;
  width: 100vw;
  margin: 0;
  text-align: center;
  background: #383232;
  z-index: 10;
}

header h1 {
  padding: 20px 0;
  margin: 0;
  color: white;
}

main {
  display: grid;
  place-items: center;
}

main h2 {
  text-align: center;
}

.loading {
  margin-top: 8em;
  text-align: center;
  color: black;
}
