.movie-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  padding: 1em 2em;
  width: 44vw;
  text-align: left;
  font-size: 2vh;
  background: rgba(0, 0, 0, 0.82);
  border-radius: 8px;
  margin-left: 1em;
  word-wrap: break-word;
  overflow-y: auto;
}

.year {
  display: inline;
  color: #d8d8e3;
  font-size: 38px;
  font-size: 4.4vw;
}

.rating-runtime-genre {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 90%;
}

.runtime-rating {
  display: flex;
}

.runtime-rating p {
}

.runtime {
  font-size: 18px;
}

.genre-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 3%;
  width: 50%;
  text-align: center;
  grid-gap: 0.5em;
}

.genre {
  padding: 8px;
  font-size: 0.77em;
  border: 1px solid white;
  border-radius: 12px;
  place-self: center;
  min-width: 80px;
  text-align: center;
}

.smaller-container {
  display: flex;
  justify-content: space-between;
  width: 22vw;
}

.three-container * {
  margin-bottom: 3%;
}

.smaller-container * {
  margin-right: 10%;
}

.medium-container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.5em;
}

@media screen and (max-width: 940px) {
  .rating-runtime-genre {
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 743px) {
  .background-image {
    overflow-x: hidden;
  }
  .info-media {
    flex-direction: column;
    align-items: center;
  }

  .rating-runtime-genre {
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }

  .movie-info {
    width: auto;
    min-width: 270px;
    bottom: 0;
    margin-top: 0;
    margin-left: 0;
    overflow-y: inherit;
    border-radius: 8px 8px 0 0;
  }

  .movie-info button {
    margin-bottom: 6vh;
    width: 40vw;
  }

  .movie-info h1,
  .year {
    font-size: 7vw;
  }

  .movie-info h2 {
    font-size: 6vw;
    text-align: left;
  }

  .overview {
    font-size: 4vw;
  }

  .movie-info h1,
  .year {
    font-size: 7vw;
  }

  .genre-container {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0.5em;
    border: none;
  }

  .genre {
    font-size: 2vw;
  }
}
