.video-responsive {
  /* overflow: hidden; */
  padding-bottom: 56.25%;
  position: relative;
  margin-top: 8.5em;
  margin-bottom: 2em;
  height: 0;
  width: 80%;
}
iframe {
  height: 100%;
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
}


@media screen and (max-width: 743px) {

  .video-responsive {
    width: 100%;
    margin-top: 3.5em;
  }

}
