.movie {
    width: 236px;
    height: 354px;
    transition: .2s ease all;
    cursor: pointer;
}

.movie:hover {
  transform: scale3d(1.1, 1.1, 1.1);
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
}

.checked {
  color: orange;
}
